<style>
#xyz{
    background-color: lightgray;
    text-decoration: none;
    text-align: left;
    color:red;
}
li{
    background-color: lightblue;
    text-decoration: none;
    text-align: left;
}
h1 a{
    font-size: 40px;
}

#ins{
    width: 80in;
}
img{
    width: 10%;
}
ul{
    padding: 0;
    }
    li{
        display: inline-block;
    }
    

</style>